@mixin list-unstyled{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

@mixin link-unstyled{
    text-decoration: none;
    background-color: transparent;
}

@mixin title-unstyled{
     list-style: none;
  }
  @mixin list-unstyled {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

@mixin link-unstyled {
    text-decoration: none;
    background-color: transparent;
}

 